@font-face {
    font-family: kremlin;
    src: url('../resources/fonts/kremlin.ttf');
}

body
{
	padding: 0;
	margin: 0;
    font-size: 24px;
    font-family: kremlin;
}

body div, body li, body img{
    transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #ff9c01;
}

#background-img-div{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: 50% 50%;
  transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}

.left {
    float: left
}

.right {
    float: right
}

.circle {
    border-radius: 50%
}

.clear-fix:before, .clear-fix:after {
    content:"";
	display: table
}

.clear-fix:after {
    clear: both
}

.clear-fix {
    zoom: 1
}

.content{
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
	padding: 0;
	margin: 0;
	max-height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#nav-bg{
    height: 80px;
    position: fixed;
    width: 100%;
}

#nav-content {
	height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1050px;
}

#nav-logo {
	height: 100%;
}

#nav-logo-a {
	content: url('../resources/images/logo-mast.png');
    height: 80px;
    padding: 0;
}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    line-height: 50px;
    height: 80px;
}

.nav-ul-li-active.active a{
    color: #ff9c01 !important;
    transition: color .6s ease-in-out;
}

.nav-ul-li a{
	display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: kremlin
}

#nav-menu-button div{
    width: 50px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

#nav-menu-button div .nav-menu{
    border-radius: 8px;
    background-color: rgba(0,0,0,0.3);
    height: 50px;
    position: absolute;
    top: 15px;
}

#nav-menu-button div .nav-menu:hover{
    background-color:rgba(0,0,0,0.5)
}

#nav-menu-button div .nav-menu>div{
    width: 40px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 20px;
    left: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resources/images/icon-menu.png);
    top: 5px;
}

.tilted{    
    height: 300px;
    width: 100%;
    background-color: #fff;
    -webkit-transform: skew(0deg,3.5deg);
    -moz-transform: skew(0deg,3.5deg);
    -ms-transform: skew(0deg,3.5deg);
    -o-transform: skew(0deg,3.5deg);
    transform: skew(0deg,3.5deg);
}

#main-container{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    top: -250px;
}

#content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

footer{
    background-color: #2d292f
}