body
{
	padding: 0;
	margin: 0;
    font-size: 20px;
}

#background-img-div{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 100%;
}

.left {
    float: left
}

.right {
    float: right
}

.circle {
    border-radius: 50%
}

.clear-fix:before, .clear-fix:after {
    content:"";
	display: table
}

.clear-fix:after {
    clear: both
}

.clear-fix {
    zoom: 1
}

.content{
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
	padding: 0;
	margin: 0;
	max-height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#nav-content {
	height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1050px;
}

#nav-logo {
	height: 100%;
}

#nav-logo-a {
	content: url('../resources/images/logo-mast.png');
    height: 80px;
    padding: 0;
}

.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-ul-li a{
	display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tilted{    
    height: 300px;
    width: 100%;
    margin-top: 650px;
    background-color: white;
    -webkit-transform: skew(0deg,3.5deg);
    -moz-transform: skew(0deg,3.5deg);
    -ms-transform: skew(0deg,3.5deg);
    -o-transform: skew(0deg,3.5deg);
    transform: skew(0deg,3.5deg);
}